# Runfiles are needed by several tests. Typically these are defaulted on for
# non-Windows platforms.
build --enable_runfiles

# Use the default C++ toolchain to build the tools used during the
# build.
build --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build --enable_platform_specific_config

# Platform specific configuration.
build:linux --linkopt=-lm
build:linux --cxxopt=-std=c++20
build:linux --cxxopt=-Wno-sign-compare

build:macos --macos_minimum_os=12.0
build:macos --linkopt=-lm
build:macos --cxxopt=-std=c++20
build:macos --cxxopt=-Wno-sign-compare

build:windows --cxxopt=/std:c++20
startup --windows_enable_symlinks
